.main {
    display: grid;
    grid-template-columns: 1;
    justify-items: center;

}

h1 {
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #e1f1fd;
    text-align: center;
}

h2 {
    border-radius: 1rem;
    padding: 0.5rem;
}

.section-add-person {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #c1d8f0;
}

.showspeakers_h2 {
    border-radius: 1rem;
    padding: 1rem;
}

.section-showspeakers {
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    background-color: #c1d8f0;;
}

.language-boxes {
    display: flex;
    gap: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #c1d8f0;;
}

article {

    border-radius: 1rem;
    padding: 1rem;
    background-color: #e1f1fd;
}