

ul {
  margin: 0;
  padding: 0;
  background-color: transparent;
  list-style: none;
}

li {
  border-radius: 1rem;
  justify-content: space-between;
  background-color: blue;
}

.names {
  font-size: large;
  color: black;
}